body {
  height: 125vh;
  background: linear-gradient(
    to bottom,
    #fafafa 0%,
    #faf5cd 25%,
    #e9ee9f 50%,
    #f7f19f 75%,
    #f1f375 100%
  );
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.main-title > h1 {
  font-size: 37px;
  font-weight: 500;
  color: #0a0a0a;
  text-shadow: 2px 2px 6px #00000077;
}

.main-title > h1 > span {
  color: #e7d533;
  -webkit-text-stroke: 1px #0a0a0a;
}

.main-title > img {
  width: 50px;
  height: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.start-quiz-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0a0a0a;
  width: 85%;
  height: auto;
  padding-bottom: 2rem;
  background: #ddd9d993;
  border-radius: 18px;
  box-shadow: 6px 6px 12px #00000059;
}

.main-phrase {
  text-align: center;
  margin: 1.25rem;
}

.main-image > img {
  width: 250px;
  height: 250px;
}

.btn-container {
  margin-top: 1.25rem;
}

#startBtn {
  width: 145px;
  padding: 1.5rem;
  background: #f1f375;
  border: 2px solid #0a0a0a;
  font-weight: 800;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#startBtn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 3px 3px 12px #0a0a0a93;
}

.select-content {
  margin-top: 1.25rem;
}

#selectContent {
  padding: 0.6rem;
  border-radius: 14px;
  background: #f1f375;
  border: 2px solid #0a0a0a;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

#selectContent:focus {
  outline: none;
  border: 2px solid #3ba0ff;
}

.quiz-container {
  display: none;
  flex-direction: column;
  border: 1px solid #0a0a0a;
  width: 85%;
  height: auto;
  padding-bottom: 2rem;
  background: #ddd9d993;
  border-radius: 18px;
  box-shadow: 6px 6px 12px #00000059;
}

.question {
  margin: 1rem;
  font-size: 14px;
}

.answers-container {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.answers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
  gap: 1rem;
}

.answer {
  display: flex;
  align-items: center;
  width: 85%;
  border: 1px solid #0a0a0a;
  height: 70px;
  padding-left: 2rem;
  gap: 2rem;
  overflow: hidden;
  background: #fafafa;
  border-radius: 15px;
  box-shadow: 5px 5px 12px #0a0a0a83;
  transition: all 0.5 ease-in;
}

.answer span {
  font-size: 30px;
  font-weight: 100;
}

.answer button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0.6rem;
  border-left: 1px solid #0a0a0a;
  cursor: pointer;
  transition: all 0.5s ease;
}

.answer button:hover {
  background: #f1f375;
  color: #0a0a0a;
}

.next-question-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 2.5rem 0 0;
}

#nextQuestionBtn {
  padding: 1rem;
  border: 2px solid #2b2929;
  background: #f1f375;
  border-radius: 12px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

#nextQuestionBtn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0a0a0a;
  width: 85%;
  height: auto;
  padding: 0 0.75rem 2rem;
  background: #ddd9d993;
  border-radius: 18px;
  box-shadow: 6px 6px 12px #00000059;
}

.congratulations {
  text-align: center;
  margin: 1.5rem 0 0;
  text-transform: uppercase;
}

.congratulations > h2 {
  font-weight: 100;
  font-size: 30px;
}

.emoji-container > img {
  width: 300px;
  height: 300px;
}

.score-mark {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.mark {
  color: #069e06;
  font-weight: 100;
  font-size: 28px;
}

.exit-container {
  margin: 1.25rem 0 0.5rem;
}

#exitBtn {
  width: 150px;
  padding: 1rem;
  border: 2px solid #2b2929;
  background: #f1f375;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

#exitBtn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 280px) and (max-width: 450px) {
  .main-title > h1 {
    font-size: 32px;
  }

  .quiz-container {
    text-align: center;
    align-items: center;
    width: 95%;
  }

  .answers-container,
  .answers-list {
    align-items: center;
    margin-left: 0;
  }

  .answer > button {
    font-size: 15px;
  }

  .next-question-container {
    justify-content: center;
    margin-right: 0;
  }

  .score-mark {
    font-size: 20px;
  }

  .mark {
    font-size: 24px;
  }

  .emoji-container > img {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .start-quiz-container,
  .quiz-container,
  .score-container {
    width: 55%;
  }
}

@media (min-width: 1024px) {
  .start-quiz-container,
  .quiz-container,
  .score-container {
    width: 50%;
    max-width: 750px;
  }
}

@media (min-height: 800px) {
  body {
    height: 105vh;
  }
}
